  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    color: white;
  }
  
  footer > p{
    max-width: 70vw;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
  }
  
  .container--icon {
    color: white;
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
  }
  
  .icon {
    width: 20px;
    height: 18px;
  }
  
  .container--icon:hover {
    transition: 0.8s;
    background-color: white;
    .icon {
      color: var(bg-color);
    }
  }
  
  .container--icons {
    color: white;
    padding: 1.25rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  p > a {
    color: white;
    text-decoration: none;
  }